*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: black;
}
.navegacao{
    background-color: #23252b;
    display: flex;
    padding-left: 100px;
}
.navega{
    display: flex;
}
.navega a{
    padding: 16px;
}
.navega a:hover{
    background-color: #141519;
}
.menu a:hover{
    background-color: #141519;
}
.menu-2 a:hover{
    background-color: #23252b;
}
a{
    text-decoration: none;
    padding: 10px;
    color: white;
}
.menu{
    display: flex;
}
.menu a{
    padding: 16px;
}
.icon img{
    margin-top: 16px;
}
.menu-2{
    background-color: #141519;
    display: block;
    inset-block-start: 50px;
    position: fixed;
    transform: translate(0);
    margin-left: 313px;
    padding-top: 15px;
}
.menu-3{
    display: grid;
    grid-template-columns: 13.75rem 1fr;
}
.menu-lista{
    display: flex;
}
.colunas{
    display: flex;
    flex: 1;
    flex-direction: column;
}
.text{
    align-items: center;
    color: #f8f8f8;
    display: flex;
    padding: .75rem 1rem;
    position: relative;
}
.colunas li{
    list-style: none;
}
.borda{
    border-inline-start: .125rem solid #23252b;
}
.titulo{
    color: #a0a0a0;
    display: block;
    padding: .8125rem 1rem;
    text-transform: uppercase;
    font-size: .75rem;
}
.menu-lista-2{
    grid-column-gap: 1.25rem;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(5, 1fr);
    grid-auto-columns: minmax(0, 12.5rem);
    width: 100%;
}
.sub-menu{
    list-style-type: none;
}
.texto{
    font-size: .875rem;
}
.item{
    color: #dadada;
    display: block;
    padding: .75rem 1rem;
    position: relative;
}